# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
lib/
lib64/
.installed.cfg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Flask stuff:
instance/
.webassets-cache

# PyBuilder
target/

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/

#VsCode
.vscode

#Program Related
*.db
Plan.txt
AuthTest.py
oldmain.py